<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/formA}" class="btn btn-primary btn-xs">crear	Articulo</a>
				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
						
							<th sec:authorize="hasRole('ROLE_USER')">id</th>
							<th>nombre</th>
							<th>familia</th>
							<th>precio</th>
							<th>stock</th>
							<th>editar</th>
							<th>eliminar</th>
													
						</tr>
						
					</thead>
					<tbody>
						<!--  th:each="articulo: ${articulo} hace referencia al metodo del controlador -->
						<tr th:each="articulo: ${articulo}">
						
						<!-- hacemos el boton del id para que nos lleve a los detalles con la foto-->
						
						<td><a class="btn btn-primary btn-xs" th:href="@{/ver/} + ${articulo.id}" th:text="${articulo.id}"></a></td>
						
							<td th:text="${articulo.nombre}"></td>
							<td th:text="${articulo.familia}"></td>
							<td th:text="${articulo.precio}"></td>
							<td th:text="${articulo.stock}"></td>


							<!--  th:each="@{/formA/} + ${articulo.id}hace referencia al metodo del controlador -->
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/formA/} + ${articulo.id}" th:text="'editar'"></a></td>

							<!--  th:each=""@{/eliminarT/} + ${tecnico.id}" hace referencia al metodo del controlador -->

							<td><a class="btn btn-danger btn-xs"
								th:href="@{/eliminarA/} + ${articulo.id}" th:text="'eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
